

/* @media(orientation: landscape){
    body{
        background: lightblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
} */
 
 .box{
    width: 100%;
    height: 100px;
    background-color: rgb(218, 165, 232);
    color: rgb(225, 124, 29);
    text-align: center;
    align-content: center;
 }

 @media(min-width: 768px) {
.box{
    width: 100%;
    height: 100px;
    background-color: chartreuse;
    color: brown;
    text-align: center;
    align-content: center;
    
}
 }
/* .body{
    background-color: antiquewhite;
}  */
 /* } */
/* @media(min-width:768px){
    .box{background: rgb(160, 14, 14);}
    
} */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e7a5a5;
    padding: 1rem
}
.logo{
    color: azure;
    font-size: 1.5rem;}
.menu{
    background: #444;
    position: absolute;
    top: 60px;
    right: 20px;

}
.menu a{
    color: azure;
    padding: 1em;
    text-decoration: none;
    display: block;
}
.hamburger{
    font-size: 2rem;
    color: white;ive
    cursor: pointer;
}



@media(min-width; 768px){
    .menu{
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        width: auto;
    }
    .hamburger{
        display: none;
    }
}

    

/* advantages ;
workd accross ddevice
sves screen space on small devices
improve user experience
reduces bounce rate 

challenges;
requires carefull design fro diffrent screen size
sometimes needs javascript
more testing required */



/* mobile ke liye hamburger menu ko display block aur defaut menu ko display none  */
