
/* @media(max-width; 768px){
    p{
        font-size: 1000px;
    }
} */
/* @media(orientation: landscape){
    body{
        background: lightblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
} */
 .box{
    width: 100%;
    height: 100px;
    background-color: rgb(218, 165, 232);
    color: rgb(225, 124, 29);
    text-align: center;
    align-content: center;
 }

 @media(min-width: 768px){
.box{
    width: 100%;
    height: 100px;
    background-color: chartreuse;
    color: brown;
    text-align: center;
    align-content: center;
    
}
.body{
    background-color: antiquewhite;
}
 }
/* @media(min-width:768px){
    .box{background: rgb(160, 14, 14);}
    
} */
li{
    list-style-type: none;
    text-decoration: none;

}
nav ul{
    display: flex;
    justify-content: space-around;
}


/* advantages ;
workd accross ddevice
sves screen space on small devices
improve user experience
reduces bounce rate 

challenges;
requires carefull design fro diffrent screen size
sometimes needs javascript
more testing required */