/* body{
    border: 2px solid black;
    
}
div{
    text-align: center;
    color: blue;


} */
.container{
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: aquamarine;
    border: 2px solid rgb(0, 0, 0);
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content:center;
    align-items:center;
    align-content: center ;
    gap: 10px;
}
.item{
    height: 100px;
    width:200px;
    background-color: bisque;
    border: 2px solid chocolate;
    text-align: center;
    align-content: center;
    /* flex-grow: 1;
   */
}
.item3{
    order: -1;
    flex-grow: 2;
    
}